<figure class="attachment attachment--content attachment--og">
  <actiontext-opengraph-embed>
    <div class="og-embed flex items-center gap-3">
      <div class="og-embed__content flex-1 min-w-0">
        <div class="og-embed__title">
          <%= link_to truncate(opengraph_embed.filename, length: 280, omission: "…"), opengraph_embed.href, rel: "noreferrer", target: "_blank" %>
        </div>
      </div>
      <% if opengraph_embed.url %>
        <div class="og-embed__image shrink-0">
          <%= tag.img src: opengraph_embed.url, class: "image rounded-lg", alt: "", style: "max-width: 120px; max-height: 120px; object-fit: cover;" %>
        </div>
      <% end %>
    </div>
  </actiontext-opengraph-embed>
</figure>
